.play {
  padding: 50px 30px 175px 30px;
  background: #101932;

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__title_info {
    margin-bottom: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #ffffff;
    opacity: 0.5;
  }
  &__ivent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1736px;
  }
}
.info {
  margin: 0 auto 50px auto;
  max-width: 1736px;
  display: flex;
  justify-content: space-between;
  background: #071022;
  border-radius: 30px;
  padding: 36px 50px 60px 50px;
  &__image {
    margin-right: 43px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__text {
    max-width: 946px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.6);
  }
}
.cash {
  background: #ff9429;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 847px;
  padding: 35px 64px 35px 30px;
  margin-right: 36px;
  img {
    margin-right: 30px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff;
    opacity: 0.8;
    max-width: 570px;
  }
}
.challeng {
  background: #067ccb;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 847px;
  padding: 35px 64px 35px 30px;
  img {
    margin-right: 30px;
    width: 180px;
    height: 160px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff;
    opacity: 0.8;
    max-width: 570px;
  }
}
@media (max-width: 1439px) {
  .info {
    max-width: 1377px;
    flex-direction: column;
    text-align: center;
    &__text {
      max-width: 1920px;
    }
    &__image {
      margin: 0 0 30px 0;
    }
  }
  .cash {
    padding: 20px 20px 50px 20px;
    margin: 0 30px 30px 0;
    flex-direction: column;
    text-align: center;
    img {
      margin: 0 0 20px 0;
    }
  }
  .challeng {
    padding: 20px 20px 50px 20px;
    margin-bottom: 30px;
    flex-direction: column;
    text-align: center;
    img {
      margin: 0 0 20px 0;
    }
  }
}
@media (max-width: 1020px) {
  .play {
    &__ivent {
      flex-direction: column;
    }
  }
  .cash {
    margin: 0 0 30px 0;
    max-width: 1377px;
  }
  .challeng {
    margin: 0;
    max-width: 1377px;
  }
}
@media (max-width: 674px) {
  .play {
    padding: 50px 15px 175px 15px;
    &__title_info {
      font-weight: 400;
      font-size: 21px;
      line-height: 42px;
    }
    .info {
      padding: 10px 10px 30px 10px;
      &__image {
        border-radius: 30px;
      }
      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }
      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
      }
    }
    .cash {
      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
      }
      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
      }
    }
    .challeng {
      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
      }
      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}
